Uncompiled Displayers/HD Picture Viewer 5/Shortcuts/
C:/Users/Brian/Documents/Github/HD-Picture-Viewer/Uncompiled Displayers/HD Picture Viewer 5/obj/*
C:/Users/Brian/Documents/Github/HD-Picture-Viewer/Uncompiled Displayers/HD Picture Viewer 5/bin/*
